<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.close()" ng-show="ctrl.closable">&times;</button>
        <h4 class="modal-title{{ctrl.titleClass}}"><i class="fa fa-{{ctrl.icon}} fa-lg"></i> {{ctrl.title}}</h4>
    </div>
    <div class="modal-body{{ctrl.contentClass}}" ng-include="ctrl.templateUrl"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ctrl.buttonCallback(button.callback)" ng-repeat="button in ctrl.buttons" ng-disabled="ctrl.loading">
            <i ng-show="button.icon" class="fa fa-{{button.icon}}"></i> {{button.label}}
        </button>
    </div>
</div>